/*body {
	background-image: url("myAvatar.png");
	background-image: linear-gradient(to bottom,rgba(66, 135, 245, 0.35), rgba(7, 51, 120, 0.7)), url("myAvatar.png");
	
	width: 100%;
	height: 100%;
	background-size: cover;
}*/

h1, h2 {
	margin: 0 0;
	padding: 0 0;
}

html, body {
	margin: 0;
	padding:0;
    height:100%;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
}

section {
    display: block;
    height:100%;
    width:100%;
    padding: 60px;
    box-sizing:border-box;
}

span img, span div {
	display: inline;
}

span {
	display: inline-grid;
	width: 100%;
	height: auto;
	margin-top: 25px;
    grid-template-areas: "image bio hobbies";
	justify-content: space-evenly;
	column-gap: 1em;
	text-align: left
}

span div p{
	width: 300px;
	margin: 0px;
}

form {
	height: 80%;
	width: 100%;
	display: block;
}

textarea {
	resize: none;
	width: 40%;
	height: 45%;
}

.Section {
	text-align: center;
	color: black;
	background-color: #F7FFFF;
	position: relative;
}

.Section-alt {
	text-align: center;
	color: #F7FFFF;
	background-color: #233C5B;
	position: relative;
}

.Section h2 {
	font-size: 32px;
	color: black;
}

.RedLine {
	width: 20%;
	height: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 35px;
	background-color: rgb(226, 12, 26);
}

.Section-alt span h3 {
	color: gold;
}

#Welcome {
	text-align: center;
	color: #F7FFFF;
	background-color: #0d2c5a;
	height:95%;
	/*position: relative;*/
}

#Welcome {
	background: linear-gradient(to bottom,rgba(66, 135, 245, 0.35), #0d2c5a), url("giphy.gif");
	background-size: cover;
}

#WelcomeText {
	margin-top: 20%;
	margin-left: 0;
}

#WelcomeText h1 {
	font-size: 48px;
	border-bottom: 5px solid rgb(226, 12, 26);
}

#WelcomeText h2 {
	font-size: 32px;
}

#NavBar {
	background-color: #0d2c5a;
	height: 5%;
	width: 100%;
	color: #F7FFFF;
	display: grid;
	place-items: center;
	z-index: 100;
}

#NavBar a {
	color: #F7FFFF;
	text-decoration: none;
}

#NavBar div {
	margin: auto auto;
	width: fit-content;
}

#Portrait {
	width:15em;
	height:20em;
	margin-right: 3em;
}

#Contact {
	height: 90%;
}

#Footer {
	width:100%;
	height:10%;
	background-color: #0d2c5a;
}

#ContactEmail {
	align-self: left;
	margin-top: 2%;
	width: 7%;
	height:7%;
}

#skill-icons {
	margin: 15% auto;
	display:grid;
	justify-content: space-evenly;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto auto auto;
	grid-row-gap: 2em;
}

#aboutMe-content {
	display: flexbox;
}

.icon {
	font-size: 3em;
}

.sticky {
	position:fixed;
	top: 0;
	width:100%;
}